:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  container-name: host;
}

[hidden] {
    display: none!important;
}
:host([invert]),
:host([invert]) a {
  color: white;
}
ul {
  margin: 40px auto 20px;
  list-style-type: none;
  position: relative;
  padding: 0;
}
li {
  display: block;
}
u-mark {
  width: 100px;
  flex: 0 0 auto;
}
@media (min-width:800px) {
  :host { 
    flex-wrap: nowrap;
  }
  u-mark {
    width: 120px;
    flex: 0 0 auto;
  }
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    line-height: 1.25;
    padding: 0 1em;
    margin-bottom: 1em;
    border-left: 1px solid #888;
  }
  li:first-child {
    border-left: none;
  }
}